<h1>Welcome!</h1>
<p class="fs-5 col-md-8">Welcome to the unofficial toolkit for Astonishing Swordsmen & Sorcerers of Hyperborea™!
    </br></br> At the moment the following tools are implemented:</p>


<ul class="ps-0">
    <li class="d-flex align-items-start mb-1"><i class="bi-person-badge-fill"
            style="font-size: 2rem;margin-top:-0.50rem;"></i>&nbsp;<span style="font-weight:bold">Name Generator (Colin Chapman)</span>
    </li>
    <li class="d-flex align-items-start mb-1"><i class="bi-cloud-fill"
            style="font-size: 2rem;margin-top:-0.50rem;"></i>&nbsp;<span style="font-weight:bold">Weather
                Generator (2E)</span></li>
    </li>
</ul>